<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/guilhermedjr/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="guilhermedjr" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>