<h1>New Profile image</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.profile_image_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.profile_image_path(@conn, :index) %></span>
